body {
    background-color: #0f1014;
    font-family: Helvetica, Arial, sans-serif;
    color: #d3d3d3;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #1e1e1e;
    max-width: 1920px;
    margin: auto;
    padding: 15px;
}

img {
    width: 100%;
    height: auto;
    display: inline-block;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    letter-spacing: .02em;
    margin: 0.5em 0;
}

h2{
    font-family: 'Syne', sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    color: white;
}

h3 {
    font-family: 'Syne', sans-serif;
    font-weight: 200;
}

p {
    line-height: 1.4em;
}

a {
    text-decoration: underline;
    color: #a1a1a1;
    font-family: 'Syne', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: white;
    font-family: 'Syne', sans-serif;
}

.contact-button {
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.contact-button:hover {
    text-decoration: underline;
}

/* Header */

#logo {
    width: 44px;
    height: 30px;
}

header h3 {
    display: inline;
}

#header-left a {
    text-decoration: none;
    color: #d3d3d3;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-variant-caps: all-small-caps;
    color: #a1a1a1;
    font-family: 'Syne', sans-serif;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
    font-variant-caps: all-small-caps;
    color: #a1a1a1;
    font-family: 'Syne', sans-serif;
    font-size: 1.1em;
}

.current-page {
    text-decoration: none;
    font-variant-caps: all-small-caps;
    color: white;
    font-family: 'Syne', sans-serif;
}

.current-page:hover{
    color: #f0f0f0;
    text-decoration: underline;
}

/* Main Work */

.cover-image {
    margin-top: 1em;
}

.project-secondary-img-left,
.project-secondary-img-right {
    display: none;
}

/* Main About */

.indent {
    margin-left: 3em;
}

/* Contact Page */

#fs-frm-inputs {
    border: none;
    margin: 0;
    padding: 0;
}

input[type=email],
input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1em;
}

input[type=submit] {
    margin: 12px 0;
    padding: 12px;
    background-color: white;
    font-size: 1em;
    width: 50%;
}

input[type=submit]:hover {
    color: white;
    background-color: #1e1e1e;
}

/* Product Page */

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* Footer */

#footer-links {
    text-align: right;
}

footer li {
    list-style: none;
}

/*Flashed messages*/


.flashed-message {
    margin: 0;
    padding: 0;
}

.flashed-message li {
    list-style: none;
    border: solid #436d9d;
    padding: 12px;
    margin: 1em 0;
}

.error-message {
    color: #9c2f1a;
}


/* Media Queries */

@media(min-width: 700px) {
    /* Header */
    body {
        margin: 0;
    }

    .container {
        padding: 10px 0;
    }

    header,
    section,
    footer {
        display: grid;
        grid-template-columns:
            minmax(0, 1fr)
            minmax(50px, 160px)
            minmax(50px, 160px)
            minmax(50px, 160px)
            minmax(50px, 160px)
            minmax(50px, 160px)
            minmax(50px, 160px)
            minmax(0, 1fr);
        grid-gap: 25px;
    }

    #header-left {
        grid-column: 2 / 5;
    }

    nav {
        grid-column: 5 / 8;
    }
    nav ul {
        justify-content: flex-end;
        margin: 1em 0;
    }

    nav li {
        margin-left: 1em;
    }

    /* Work Page */

    h1 {
        font-size: 4.5em;
    }

    .cover-image {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    section {
        margin: 4em 0;
    }

    .project {
        grid-template-rows: .5fr;
    }

    .left-half h2 {
        grid-row: 1;
        grid-column: 2 / 6;
        margin: 0;
    }

    .left-half p {
        grid-row: 2;
        grid-column: 2 / 6;
        margin: 0;
    }

    .title-left {
        grid-row: 1;
        grid-column: 2 / 8;
        justify-self: left;
        margin: 0.3em 0;
    }

    .title-right {
        grid-row: 1;
        grid-column: 2 / 8;
        justify-self: right;
        margin: 0.3em 0;
    }

    .paragraph-left {
        grid-row: 2;
        grid-column: 2 / 5;
        margin: 0;
    }

    #paragraph-left-cv {
        grid-row: 2 / 4;
        grid-column: 2 / 5;
        margin: 0;
    }

    .paragraph-right {
        grid-row: 2;
        grid-column: 5 / 8;
        margin: 0;
    }

    .project .paragraph-right{
        text-align: right;
    }

    .paragraph-right-2 {
        grid-row: 3 / 5;
        grid-column: 5 / 8;
    }

    .selection-work {
        grid-row: 3 / 4;
        grid-column: 5 / 8;
        justify-self: right;
    }

    .project-cover-image {
        display: none;
        width: 100%;
        max-height: 450px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .project-main-img {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }

    .img-center {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }

    .project-secondary-img-left {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / 5;
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        object-position: 80%;
    }

    .project-secondary-img-right {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 5 / 9;
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        object-position: 0;
    }

    .iframe-container {
        grid-column: 2 / 8;
        justify-self: center;
        width: 100%;
    }

    .contact-button {
        grid-row: 1;
        grid-column: 2 / 8;
        justify-self: left;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-size: 4.5em;
        font-weight: 300;
        letter-spacing: .02em;
        margin: 0;
    }

    /* About Page */

    .img-left {
        grid-row: 1 / 4;
        grid-column: 1 / 5;
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        object-position: 75%;
    }

    .img-right {
        grid-row: 1 / 4;
        grid-column: 5 / 9;
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        object-position: 80%;
    }

    /* Contact Page */

    form {
        grid-row: 2;
        grid-column: 5 / 8;
        margin-bottom: -6em;
    }

    #low-title-contact {
        grid-row: 1;
        grid-column: 2 / 8;
        justify-self: left;
        margin: 0;
    }

    #phone {
        display: none;
    }

    /* Footer */

    footer {
        align-self: end;
    }

    #copyright {
        display: grid;
        grid-row: 1;
        grid-column: 2 / 4;
        justify-self: left;
        align-items: flex-end;
        margin: .8em 0;
    }

    #footer-links {
        grid-row: 1;
        grid-column: 6 / 8;
        justify-self: right;
    }

    #footer-links h4 {
        text-align: right;
    }

    #footer-links ul {
        display: flex;
        justify-content: right;
        align-self: center;
    }

    #footer-links li {
        margin-left: 1em;
    }
}