:root {
  --main-bg-color: #1e1e1e;
  --title-color: white;
  --text-color: #d6d6d6;
  --link-color: #a1a1a1;
  --font-family: "Helvetica", sans-serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link-color);
  font-size: 1.25rem;
}

a:hover {
  color: var(--title-color);
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: var(--title-color);
}

h2 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--title-color);
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--title-color);
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

pre {
    font-size: 1.1rem;
    padding: 1rem;
}

/* Header */
header {
  margin: 1em;
}

#logo {
  text-decoration: none;
  color: var(--text-color);
  display: inline;
  margin-right: auto;
}

#logo-img {
  width: 2.5rem;
  height: auto;
}
#logo:hover {
    filter: brightness(110%);
}

#logo a{
  text-decoration: none;
}

#tagline {
    text-decoration: italic;
}

nav ul {
  display: flex;
  align-self: center;
  margin: 1rem 0 0 0;
  padding: 0;
}

nav li {
  list-style: none;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  font-variant-caps: all-small-caps;
  color: var(--link-color);
}

nav a:hover {
  text-decoration: underline;
  font-variant-caps: all-small-caps;
  color: var(--link-color);
}

.current-page {
  text-decoration: none;
  font-variant-caps: all-small-caps;
  color: var(--title-color); 
}

.current-page:hover {
  text-decoration: underline;
  color: var(--title-color); 
}

.timestamp {
  font-style: italic;    
  color: var(--link-color);
  font-size: 1rem;
}

main {
    margin: 1em;
    padding: 0;
}

.post-title-link{
  color: var(--title-color);
  text-decoration: none;
  font-size: 2rem;
}

.post-title-link:hover {
  text-decoration: underline;
  font-size: 2rem;
}

footer {
  margin: 1em;
  margin-top: auto; 
}

@media (min-width: 44rem) {
  /* Header */
  header {
    display: flex;
  }

  .container {
    /*padding: 10px 10px;*/
    max-width: 51rem;
    margin: 0 auto;
  }

  nav ul {
    justify-content: space-between;
    margin: 0.1rem 0;

  }
