:root {
  --main-bg-color: #1e1e1e;
  --title-color: white;
  --text-color: #d6d6d6;
  --link-color: #a1a1a1;
  --dimmed-color: #a1a1a1;
  --font-family: "Helvetica", sans-serif;

  --white: #f2f4f8;
  --darker-black: #0f0f0f;
  --black: #161616;
  --black2: #202020;
  --one-bg: #2a2a2a;
  --one-bg2: #343434;
  --one-bg3: #3c3c3c;
  --grey: #464646;
  --grey-fg: #4c4c4c;
  --grey-fg2: #555555;
  --light-grey: #5f5f5f;
  --red: #ee5396;
  --baby-pink: #ff7eb6;
  --pink: #be95ff;
  --line: #383747;
  --green: #42be65;
  --vibrant_green: #08bdba;
  --nord-blue: #78a9ff;
  --blue: #33b1ff;
  --yellow: #FAE3B0;
  --sun: #ffe9b6;
  --purple: #d0a9e5;
  --dark_purple: #c7a0dc;
  --teal: #B5E8E0;
  --orange: #F8BD96;
  --cyan: #3ddbd9;
  --statusline_bg: #202020;
  --lightbg: #2a2a2a;
  --pmenu_bg: #3ddbd9;
  --folder_bg: #78a9ff;
  --lavender: #c7d1ff;
  --lavender: #08bdba;

}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 1em 1em 3em;
}

a {
  color: var(--link-color);
  font-size: 1.25rem;
}

a:hover {
  color: var(--title-color);
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: var(--title-color);
}

h2 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--title-color);
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--title-color);
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

pre {
  font-size: 1.1rem;
  padding: 1em;
  overflow: scroll;
}

hr {
  margin: 2rem 0 3em;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

#logo {
  text-decoration: none;
  color: var(--text-color);
  display: inline;
}

#logo svg {
  min-width: 40;
  min-height: 27;
  width: 2.5rem;
  height: auto;
}
#logo:hover {
    filter: brightness(110%);
}

#logo a{
  text-decoration: none;
}

#tagline {
    text-decoration: italic;
}

nav a {
  text-decoration: none;
  margin-left: 1em;
  font-variant-caps: all-small-caps;
  color: var(--link-color);
}

nav a:hover {
  text-decoration: underline;
  font-variant-caps: all-small-caps;
  color: var(--link-color);
}

.current-page {
  text-decoration: none;
  font-variant-caps: all-small-caps;
  color: var(--title-color); 
}

.current-page:hover {
  text-decoration: underline;
  color: var(--title-color); 
}

.post-meta {
  font-style: italic;    
  color: var(--link-color);
  font-size: 1rem;
}

.post-title-link{
  color: var(--title-color);
  text-decoration: none;
  font-size: 2rem;
}

.post-title-link:hover {
  text-decoration: underline;
  font-size: 2rem;
}

footer {
  padding: 2em 0;
  margin-top: auto;
  background-color: var(--darker-black);
}

footer a {
    margin: 0 1em;
}

@media (min-width: 51rem) {
  body {
    align-items: center;
  }

  header {
    width: 51rem;
    margin: 1em 0;
  }

  main {
    width: 51rem;
    margin: 0 0 4em;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer #links {
    width: 51rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

