<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="Private" />
    <meta http-equiv="Expires" content="31536000" />
        <title>{% block title %}{% endblock title %} Wolfram Friele</title>
    <link rel="stylesheet" href="{{ get_url(path='css/global.css') }}" />
    <link rel="'shortcut' icon” href='{{ get_url(path='favicon.ico') }}'" />
</head>
<body>
    <div class="container">
        {% include "components/header.html"%}
        <main class="content">
        {% block content %} {% endblock %}
        </main>
    </div>
    {% include "components/footer.html"%}
</body>
</html>
