{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}

{% set blog_section = get_section(path="blog/_index.md") %}
{% for page in blog_section.pages %}
<section>
<hr class="solid">
<h2><a href="{{ page.permalink | safe }}" class="post-title-link">{{ page.title }}</a></h2>
<p class="post-meta">{{ page.date | date(format="%d %B %Y") }} · {{ page.reading_time }} minute read</p>
<p>{{ page.description }}</p>
</section>
{% endfor %}

{% endblock content %}
