<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %} Blog by Wolfram Friele about software development {% endif %}">
    {% if page.title %}
    <title>{{ page.title }} | Wolfram Friele</title>
    {% elif current_url and current_path is starting_with("/about/") %}
        <title>About | Wolfram Friele</title>
    {% else  %}
        <title>Wolfram Friele</title>
    {% endif %}
    <link rel="stylesheet" href="{{ get_url(path='styles.css') }}" />
    <link rel="icon" href="{{ get_url(path='favicon.ico') }}" sizes="32x32">
    <link rel="icon" href="{{ get_url(path='icon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
